<div class="container">
    <h2>Our Finest Collection</h2>
  <div fxLayout="row wrap" fxLayoutGap="50px grid">
    <div *ngFor="let prod of products">
      <mat-card (click)="addToCart(prod)" class="product-card">
        <img mat-card-image src="assets/images/{{ prod.image_url }}" />
        <mat-card-content>
          <mat-card-title>{{ prod.name }}</mat-card-title>
          <mat-card-subtitle
            >{{ prod.price | currency : "USD" }}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
